<div class="modal fade" id="delete-icon-{{social_media.id}}-button-modal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="delete-modal-label-{{social_media.id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- close button -->
            <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <!-- Message -->
            <div class="text-center modal-body">
                <p id="delete-modal-label-{{social_media.id}}" class="text-center"> Are you sure you want to delete this icon? </p>
            </div>
            <!-- Delete product button-->
            <a class="btn my-3 delete-btn" href="{% url 'remove_social_media' social_media.id %}" aria-label="delete icon">
                Yes, delete <span class="icon p-2">
                    <i class="fas fa-trash" aria-hidden="true"></i>
                </span></a>
            <!-- Go back button -->
            <button type="button" class="btn cancel-delete-product" data-dismiss="modal" aria-label="close">
                <span aria-hidden="true" class="icon p-2"><i class="fas fa-chevron-left"></i></span>no, go back
        </div>
    </div>
</div>