{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}" type="text/css">
{% endblock %}

{% block content %}

<div class="container h-100 mb-5">
    <!-- New art, on click it takes to shop page-->
    {% include 'home/includes/new-art.html' %}
    <div class="hr-style"></div>
    <!-- Other art but new, on click it takes to gallery page-->
    {% include 'home/includes/gallery.html' %}
    <div class="hr-style"></div>
    <!-- About section -->
    {% include 'home/includes/about.html' %}
    <div class="hr-style"></div>
    <!-- Contact form -->
    {% include 'home/includes/contact-us.html' %}
</div>
<!-- footer -->
{% include 'includes/layout/footer.html' %}
{% endblock %}
