{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}" type="text/css">
{% endblock %}

{% block content %}

<div class="container h-100 mb-5">
    <!-- Video banner -->
    {% include 'home/includes/video-banner.html' %}
    <div class="hr-style-home"></div>
    <!-- About section -->
    {% include 'home/includes/about.html' %}
    <div class="hr-style-home"></div>
    <!-- Contact form -->
    {% include 'home/includes/contact-us.html' %}
</div>
<!-- footer -->
{% include 'includes/layout/footer.html' %}
{% endblock %}
