    <!-- Product card -->
    <div class="col-sm-12 col-lg-4 my-4 px-4">
        <div class="card product-card">
            <div class="row">
                <!-- Product image -->
                <div class="col-sm-12 col-md-7 col-lg-12 align-self-center">
                    <!-- checks for images in the product images folder -->
                    {% for img in product.images_folder.imgs.all %}
                    <a href="{% url 'product_detail' product.name %}" title="view details" aria-label="view details">
                        {% if img.main_img %}
                        <!-- if one of the images is set to be as main, it's then displayed-->
                        <img class="card-img-top img-fluid"
                            src="{% if img.url %}{{ img.url }}{% else %}{{ MEDIA_URL }}noimage.png{% endif %}"
                            alt="{{ img.name }}">
                        {% endif %}
                    </a>
                    {% endfor %}
                </div>
                <!-- Product info -->
                <div class="col-sm-12 col-md-5 col-lg-12 ">
                    <div class="container">
                        <div
                            class="row align-items-end {% if request.user.is_superuser %}h-25{% else %}h-50{% endif %}">
                            <div class="col-sm-12 mt-3 p-0">
                                <div class="container">
                                    <div class="row">
                                        {% if product.tag %}
                                        <!-- Tag - New -->
                                        <div class="col-4 artwork-tag tag-{{product.tag.friendly_name.lower}} mr-3">
                                            {{product.tag.friendly_name}}
                                        </div>
                                        {% endif %}
                                        {% if product.is_sold %}
                                        <!-- Sold -->
                                        <div class="col-4 artwork-tag tag-sold">
                                            sold
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- checks for product name and assigns -->
                                <h4 class="artwork-title py-3">{{ product.collection_name.friendly_name }}:
                                    {{ product.friendly_name }}
                                </h4>
                            </div>
                            <div class="p-0 col-sm-12 mt-4">
                                <a class="btn my-2 col-sm-12 " href="{% url 'product_detail' product.name %}"
                                    title="view details" aria-label="view details">view details
                                    <span class="icon pl-1">
                                        <i class="fas fa-info-circle p-2" aria-hidden="true"></i>
                                    </span></a>
                                {% if request.user.is_superuser %}
                                <!-- Product management -->
                                <!-- Edit product button-->
                                <a class="btn my-2 col-sm-12" href="{% url 'edit_product' product.id %}">Edit
                                    Product<span class="icon p-2">
                                        <i class="far fa-edit" aria-hidden="true"></i>
                                    </span></a>
                                <!-- Delete product button-->
                                {% include 'products/prod-mngmnt/includes/delete-product-button.html' %}
                                <!-- delete product modal -->
                                {% include 'products/prod-mngmnt/includes/delete-product-modal.html' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>