    <!-- Product card -->
    <div class="col-sm-12 col-lg-4 my-4 px-4">
        <div class="card h-100" id="product-card">
            <div class="row h-100">
                <!-- Product image -->
                <div class="col-sm-12 col-md-7 col-lg-12 align-self-center">
                    <!-- checks for images in the product images folder -->
                    {% for img in product.images_folder.imgs.all %}
                    <a href="{% url 'product_detail' product.id %}">
                        {% if img.main_img %}
                        <!-- if one of the images is set to be as main, it's then displayed-->
                        <img class="card-img-top img-fluid" src="{{ img.url }}" alt="{{ img.name }}">
                        {% else %}
                        <!-- if no image available it displays default image -->
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="no image">
                        {% endif %}
                    </a>
                    {% endfor %}
                </div>
                <!-- Product info -->
                <div class="col-sm-12 col-md-5 col-lg-12 ">
                    <div class="container h-100">
                        <div class="row align-items-start h-75">
                            <div class="col-sm-12 mt-3 p-0">
                                <!-- checks for product name and assigns -->
                                <h4 class="artwork-title">{{ product.collection_name.friendly_name}}: {{ product.name }}
                                </h4>
                                <!-- checks for tag and assigns -->
                                <div class="artwork-tag tag-{{product.tag.friendly_name.lower}} my-3">
                                    {{product.tag.friendly_name}}</div>
                            </div>
                        </div>
                        <div class="row align-items-end h-25">
                            <div class="p-0 col-sm-12">
                                <a class="btn col-12 " href="{% url 'product_detail' product.id %}" title="more info"
                                    aria-label="add to bag">view details
                                    <span class="icon pl-1">
                                        <i class="fas fa-info-circle p-2" aria-hidden="true"></i>
                                    </span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
