<div class="modal fade" id="roomViewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- close button -->
            <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <!-- Room view image -->
            <div class="text-center modal-body">
                {% for img in product.images_folder.imgs.all %}
                {% if img.room_view %}
                <img class="card-img-top"
                    src="{% if img.url %}{{ img.url }}{% else %}{{ MEDIA_URL }}noimage.png{% endif %}"
                    alt="{{ img.name }}">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>