/* contact-us section */
h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}

#contact-form {
    background-color: var(--hunter-green);
    padding: 3rem;
    -webkit-box-shadow: var(--dark-small-box-shadow);
    box-shadow: var(--dark-small-box-shadow);
}

#contact-form label,
.form-text,
#contact-form small {
    color: var(--white) !important;
}

#contact-form input,
#contact-form textarea,
#contact-form div {
    font-family: var(--main-font);
    font-size: calc(1.4rem + .2vw);
    color: var(--black-chocolate);
    border-color: var(--dark-lava);
    border-radius: 0;
}

#contact-form .btn {
    background-color: var(--dark-lava);
    color: var(--white);
    -webkit-box-shadow: var(--dark-small-box-shadow);
    box-shadow: var(--dark-small-box-shadow);
}

#contact-form .btn:hover {
    background-color: var(--plum);
}

.fa-envelope {
    font-size: 1.3rem;
}

#div_id_email {
    margin-bottom: 0;
}

#div_id_message {
    margin-top: 1rem;
}

/* Video banner */
video {
    width: 100%;
    height: auto;
}

/* New Art & Gallery section styling */
.carousel-inner {
    height: auto;
}

.carousel-item a {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.carousel-item img {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 1;
    position: initial;
    display: initial;
    margin-right: 1.5rem;
    text-decoration: none;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-control-prev:focus,
.carousel-control-next:focus,
.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: var(--black-chocolate);
}

.fa-chevron-left,
.fa-chevron-right {
    font-size: calc(1rem + .5vw);
}


/* Styling idea: 
https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
/* save info checkbox */
.form-check {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    -webkit-print-color-adjust: exact;
}

.checkmark {
    position: absolute;
    left: 0;
    top: .4em;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid var(--white);
    background-color: var(--white);
}

.form-check-label {
    color: var(--hunter-green);
}

/** hide default checkbox **/
.form-check input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.form-check input:checked~.checkmark {
    background-color: var(--white);
}

.form-check .checkmark:after {
    bottom: .2rem;
    left: .4rem;
    width: .5rem;
    height: 1rem;
    border: solid var(--hunter-green);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media (min-width: 1025px) {
    .carousel-inner {
        height: 50vh;
    }
}