#contact-form {
    background-color: var(--almond);
    padding: 4rem;
    box-shadow: var(--dark-large-box-shadow);
}
#contact-form input,
#contact-form textarea,
#contact-form small,
#contact-form div {
    font-family: var(--main-font);
    color: var(--black-chocolate);  
    border-color: var(--dark-lava);
    border-radius: 0;
}

#contact-form .btn {
    background-color: var(--dark-lava);
    color: var(--white);
    box-shadow: var(--dark-small-box-shadow);
}

#contact-form .btn:hover {
    background-color: var(--hunter-green);
    color: var(--white);
}

.form-text{
    margin-left: .25rem;
}

.fa-envelope {
    font-size: 1.3rem;
}

