{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container h-100 mb-5" id="checkout-container">
    <div class="row no-gutters">
        <div class="col-12 px-4">
            <!-- Title -->
            <h3 class="my-4 ml-2 text-center">checkout</h3>
        </div>
    </div>
    <div class="row no-gutters">
        <!--Checkout form-->
        {% include 'checkout/includes/checkout-form.html' %} 
        <!-- Order summary mobile-->
        
        <!--Order summary-->
        
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<!-- include stripe js -->
<!-- checkout form -->
<script src="{% static 'checkout/js/checkout-form.js' %}"></script>

{% endblock %}