#profile-container {
    min-height: 75vh;
}

/* Shipping info form */

#profile-update-form input::-webkit-input-placeholder,
#profile-update-form input,
#profile-update-form input::placeholder,
#profile-update-form input::-webkit-input-placeholder,
#profile-update-form input::-moz-placeholder,
#profile-update-form input:-ms-input-placeholder,
#profile-update-form input::-ms-input-placeholder,
#id_default_country,
#id_default_country option:not(:first-child) {
    color: var(--black-chocolate);
}

#profile-update-form input,
#profile-update-form select {
    border-radius: 0;
    border: 1px solid var(--dark-lava);
    font-size: 1.6rem;
}

#id_default_country option:first-child {
    color: var(--plum);
    font-weight: bold;
}

/* Order history */
.order-history table {
    color: var(--black-chocolate);
    font-size: 1.6rem;
}

/* Personal details */
#personal-details,
#shipping-info,
#pd-order-history {
    -webkit-box-shadow: var(--dark-small-box-shadow);
    box-shadow: var(--dark-small-box-shadow);
}

#pd-username,
#pd-email {
    padding: .375rem .75rem;
    line-height: 1.5;
}

/* Font awesome icons */
.fa-user-circle,
.fa-truck,
.fa-history {
    font-size: 1.8rem;
    padding: .8rem;
    color: var(--hunter-green);
}

@media (max-width: 575.98px) {

    #pd-order-history td,
    #pd-order-history th {
        font-size: 1.2rem;
    }
}