#profile-container {
    min-height: 75vh;
}
#profile-update-form input {
    color: var(--black-chocolate);
}
#profile-update-form input,
#profile-update-form select {
    border-radius: 0;
    border: 1px solid var(--dark-lava);
    font-size: 1.6rem;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: var(--black-chocolate);
}

#id_default_country option:first-child {
    color: #aab7c4;
}