@import url('https://fonts.googleapis.com/css2?family=Lato&family=Krona+One&display=swap');

:root {
    /* fonts */
    --header-font: 'Krona One', sans-serif;
    --main-font: 'Lato', sans-serif;

    /* color palette */
    --black-chocolate: #1D1E18;
    --white: #ffffff;
    --dark-lava: #453E35;
    --hunter-green: #315E43;
    --almond: #EDE0D4;
    --tuscany: #D0A4A0;
    --plum: #700A15;

    /* box shadows */
    --dark-large-box-shadow: 6px 6px 12px var(--dark-lava);
    --dark-small-box-shadow: 1px 1px 5px var(--dark-lava)
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: var(--white);
    color: var(--black-chocolate);
    font-weight: 400;
    line-height: 1.5;
    font-family: var(--main-font);
    font-size: calc(1.4rem + .2vw);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--header-font);
    text-transform: uppercase;
}

p {
    font-size: 1.6rem;
    text-align: justify;
}

/* header - logo */
#logo-a {
    display: block;
    margin-top: 2rem;
    height: 10vh;
    width: 100%;
}

#header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    height: 100%;
    max-width: 99%;
}


/* header - site navigation */
#mobile-nav,
#main-nav,
.nav-link-header,
.dropdown-menu-header,
.dropdown-menu-header li a {
    color: var(--white);
    background-color: var(--black-chocolate);
}

.nav-link-header {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link-header,
.dropdown-menu-header li a {
    font-size: 1.5rem;
    font-family: var(--header-font);
    letter-spacing: 0.1vw;
}

.nav-link-header:focus,
.nav-link-header:hover,
.dropdown-menu-header li a:focus,
.dropdown-menu-header li a:hover {
    color: var(--tuscany);
    text-decoration: none;
}

/* grand total nav item */
.nav-link div {
    font-size: 1.25rem;
    padding: .5rem 1rem;
    color: var(--tuscany);
}

/* body */
.error-container {
    min-height: 66vh;
}

/* footer */
.footer {
    background-color: var(--black-chocolate);
    color: var(--white);
    padding: 3rem 2rem;
}

.footer h4 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
}

.footer .hr-style {
    width: 30%;
    border-color: var(--white);
    display: inline-table;
}

.footer li {
    list-style-type: none;
}

.footer ul i {
    color: var(--white);
    width: 32px;
    height: 32px;
    padding: 1.2rem 0;
    font-size: 2.5rem;
}

.footer-link {
    font-family: var(--header-font);
    font-size: 1.2rem;
    color: var(--white);
}

.footer-contact-info p {
    font-size: 1.4rem;
}

.footer ul i:hover,
.footer-nav .nav-link:hover {
    color: var(--hunter-green);
}

.footer ul li a:hover {
    text-decoration: none;
}

.footer ul li a {
    color: var(--white);
}

/* thematic break*/
.hr-style {
    width: 100%;
    border: 1px solid var(--black-chocolate);
    opacity: 1;
    -ms-flex-line-pack: center;
    align-content: center;
}

/* general button styling */
.btn {
    font-size: 1.6rem;
    text-transform: uppercase;
    border-radius: 0;
    color: var(--white);
    background-color: var(--dark-lava);
}

.btn:hover {
    color: var(--white);
    background-color: var(--hunter-green);
    -webkit-box-shadow: var(--dark-small-box-shadow);
    box-shadow: var(--dark-small-box-shadow);
}

.delete-btn {
    background-color: var(--plum);
}

.delete-btn:hover {
    background-color: var(--white);
    color: var(--black-chocolate);
}

/* font awesome */
.fa-shopping-bag {
    padding: .8rem;
}

/* sweet alert styling */
/** container **/
.swal2-container {
    background-color: var(--white) !important;
    display: initial !important;
    bottom: initial !important;
    margin-top: 22vh;
}

.swal2-popup {
    background-color: var(--almond) !important;
    border-radius: 0 !important;
    -webkit-box-shadow: var(--dark-small-box-shadow) !important;
    box-shadow: var(--dark-small-box-shadow) !important;
    width: 65% !important;
}

/** icons **/
.swal2-success,
.swal2-success-ring {
    border-color: var(--hunter-green) !important;
    color: var(--hunter-green) !important;
}

.swal2-success-line-tip,
.swal2-success-line-long {
    background-color: var(--hunter-green) !important;
}

.swal2-error {
    background-color: var(--plum) !important;
}

.swal2-x-mark-line-right,
.swal2-x-mark-line-left {
    background-color: var(--white) !important;
}

.swal2-warning {
    color: var(--tuscany) !important;
    border-color: var(--tuscany) !important;
}

.swal2-info {
    background-color: var(--tuscany);
    color: var(--white) !important;
}

.swal2-loader,
.swal2-info,
.swal2-error {
    border: none !important;
}

/** title + content **/
.swal2-title {
    color: var(--black-chocolate) !important;
    text-transform: uppercase !important;
}

.swal2-content {
    color: var(--black-chocolate) !important;
    font-family: var(--main-font) !important;
    font-size: 1.6rem !important;
}

/** button **/
.swal2-actions button {
    text-transform: uppercase !important;
}

.swal2-confirm {
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.swal2-styled,
.swal2-confirm {
    background-color: var(--dark-lava) !important;
}

.swal2-confirm:hover {
    background-color: var(--hunter-green) !important;
}

/* Allauth form styling */
#allauth-container {
    min-height: 75vh;
}

.allauth-form-inner-content label:not([for='id_remember']),
.allauth-form-inner-content label:not([for^='email_radio_']) {
    display: none;
}


.allauth-form-inner-content input {
    font-size: 1.6rem;
    border: 1px solid var(--dark-lava);
    border-radius: 0;
}

.allauth-form-inner-content .form-check-label {
    padding-left: .5rem;
}

.verified,
.primary {
    color: var(--hunter-green);
    font-weight: bolder;
}

.unverified {
    color: var(--plum);
    font-weight: bolder;
}

.login a {
    color: var(--hunter-green);
    font-weight: 900;
}

.login a:hover {
    color: var(--hunter-green);
    text-decoration: none;
}

/* Loader... */
.loader-overlay-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background-color: var(--white);
}

.loader {
    background-image: url("/media/loader/loader.gif");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

/** Go Up button styling **/
#goUpBtn {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    z-index: 99;
    border: 3px solid var(--black-chocolate);
    outline: none;
    background-color: var(--white);
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
}

#goUpBtn:hover {
    background-color: var(--white);
}

.fa-chevron-up {
    font-size: 3rem;
    color: var(--plum);
    border-radius: 50%;
}

.fa-chevron-up:hover {
    color: var(--hunter-green);
}

/* All forms on the site */
.form-control:focus {
    -webkit-box-shadow: var(--dark-small-box-shadow) !important;
    box-shadow: var(--dark-small-box-shadow) !important;
}

/* Image Upload styling in Forms */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

#filename,
.custom-control-label {
    color: var(--plum);
}

/* custom checkbox styling */
.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: var(--plum);
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before,
.custom-control-input:focus:not(:checked)~.custom-control-label::after {
    border-color: var(--tuscany);
    -webkit-box-shadow: var(--dark-small-box-shadow);
    box-shadow: var(--dark-small-box-shadow);
}

.custom-control-label::before,
.custom-control-label::after {
    top: .4em;
    width: 1.25rem;
    height: 1.25rem;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: var(--plum);
    border-color: var(--plum);
    border-radius: 0;
}


.form-check-inline .form-check-input {
    margin-right: 0;
    position: relative;
}

.form-check input:checked~.checkmark:after {
    display: block;
}

@media (max-width: 575.98px) {

    .btn,
    .allauth-form-inner-content input {
        font-size: 1.2rem;
    }

    .allauth-form-inner-content p {
        font-size: 1.4rem;
    }
}