#free-delivery-banner {
    background-color: var(--hunter-green);
    color: var(--white);
    letter-spacing: 1px;
}

/* Product styling */

#product-detail-container {
    min-height: 61vh;
}

#product-card,
#product-detail-card {
    width: 100%;
    padding: 2rem;
    border: solid 1px var(--dark-lava);
    border-radius: 0;
    box-shadow: var(--dark-small-box-shadow);
}

#product-card img,
#product-detail-card img {
    border: solid 1px var(--black-chocolate);
}

#product-card img:hover,
#product-detail-card img:hover {
    opacity: .8;
}

#product-detail-card img:hover {
    cursor: zoom-in;
}

#room-view {
    color: var(--plum);
    text-decoration: underline;
}

#room-view:hover {
    text-decoration: none;
}

.artwork-tag {
    text-transform: uppercase;
    margin: 0;
}

/* tag styling */
.tag-new,
.tag-sold {
    text-align: center;
    box-shadow: var(--dark-small-box-shadow); 
    border: solid 1px var(--white);
    color: var(--white);
}

.tag-new {
    background-color: var(--hunter-green);
   
}

.tag-sold {
    background-color: var(--plum);
}

/* font awesome styling */

.fa-eye {
    padding: .8rem;
    color: var(--plum);
}

.fa-times {
    color: var(--white);
}

/* room view modal styling */
.modal-content {
    background-color: var(--black-chocolate);
    color: var(--white);
    padding: 1rem;
}

.modal-content img {
    width: 100%;
    height: auto;
    opacity: 1 !important;
    justify-self: center;
}

.close {
    opacity: 1;
}

/* Product management elements */
.prod-mngmnt-container {
    min-height: 63vh;
}

.prod-mngmnt-form label,
.prod-mngmnt-form option {
    font-size: 1.6rem;
}

.field-styling,
.prod-mngmnt-form select {
    border-radius: 0;
    border: 1px solid var(--dark-lava);
    font-size: 1.6rem;
}

.list-group-item::first-letter {
    text-transform: capitalize;
}

.list-group-item,
.list-group-item-action:active {
    border-color: var(--dark-lava);
    color: var(--white);
}

.list-group-item.active,
.list-group-item-action:active {
    background-color: var(--hunter-green);
    border-color: var(--black-chocolate);
    border-radius: 0;
}

.list-group-item-action {
    color: var(--black-chocolate);
}

.list-group-item:hover {
    background-color: var(--almond);
    color: var(--black-chocolate);
    font-weight: 600;
}

ul {
    list-style: none;
}

.list-style {
    list-style-type: disc;
}

li .fa-check {
    color: var(--hunter-green);
    font-size: 1.6rem;
}

#nav-tabContent li a {
    color: var(--hunter-green);
    font-weight: 900;
}

li a:hover {
    color: var(--hunter-green);
    text-decoration: none;
}

/* All images template */
table {
    background-color: var(--almond);
    color: var(--black-chocolate);
    font-size: 1rem;
}

.table thead th {

    border-bottom: 3px solid var(--white);
}

.table tbody+tbody,
.table td {
    border-color: var(--white);
}

table thead {
    text-transform: uppercase;
    color: var(--black-chocolate);
}

table td a {
    color: var(--hunter-green);
    font-weight: 900;
}

table td a:hover {
    color: var(--hunter-green);
}

table .fa-times {
    color: var(--plum);
}

table .fa-check {
    color: var(--hunter-green);
}

table .fa-trash {
    color: var(--plum);
}

/* Delete product warning modal */
.cancel-delete-product {
    background-color: var(--hunter-green)
}

.cancel-delete-product:hover {
    background-color: var(--white);
    color: var(--hunter-green);
}

/* checkbox in management */

.form-check-input {
    position: initial;
}

.form-check-label {
    font-size: 1.6rem !important;
    text-transform: uppercase;
    color: var(--plum);
    font-weight: bold;
}


/* other */
.tooltip {
    font-size: 1.2rem;
}

.btn {
    font-size: 1.6rem;
}

@media (min-width: 576px) {
    .btn {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .btn {
        font-size: 1.2rem;
    }
}