<footer class="container-fluid footer">
    <div class="row">
        <div class="col-sm-4 text-center">
            <h3>Quicklinks</h3>
            <div class="nav footer-nav flex-column">
                <a class="nav-link footer-link py-1" href=''>Home</a>
                <a class="nav-link footer-link py-1" href=''>Gallery</a>
                <a class="nav-link footer-link py-1" href=''>Shop</a>
                <a class="nav-link footer-link py-1" href=''>Profile</a>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <h3>Connect with us</h3>
            <ul class="flex-column">
                <li class="p-2">
                    <a target="_blank" href="https://www.instagram.com/" rel="noopener" aria-label="Find us on Instagram">
                      <i class="p-2 fab fa-instagram" aria-hidden="true"></i>
                    </a>
                  </li>
            </ul>
        </div>
        <div class="col-sm-4 text-center">
            <h3>Contact Info</h3>
            <p>Address</p>
            <p>Phone Number</p>
        </div>
    </div>
    
</footer>