<!-- home -->
<li class="nav-item">
    <a class="nav-link-header" href="{% url 'home' %}" id="home-link">
        Home
    </a>
</li>
<!-- about -->
<li class="nav-item">
    <a class="nav-link-header" href="#" id="">
        About
    </a>
</li>
<!-- gallery -->
<li class="nav-item">
    <a class="nav-link-header" href="#" id="">
        Gallery
    </a>
</li>
<!-- shop -->
<li class="nav-item">
    <a class="nav-link-header" href="#" id="">
        Shop
    </a>
</li>
<!-- contact -->
<li class="nav-item">
    <a class="nav-link-header" href="#" id="">
        Contact
    </a>
</li>
<!-- profile -->
<li class="nav-item  dropdown">
    <a class="nav-link-header" role="button" id="profileDropdown" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Profile
    </a>
    <ul class="dropdown-menu-header dropdown-menu border-0" aria-labelledby="profileDropdown">
        <li><a href="#" class="dropdown-item">Login</a></li>
        <li><a href="#" class="dropdown-item ">Register</a></li>

    </ul>
</li>