{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container h-100 mb-5 prod-mngmnt-container">
    <div class="row">
        <div class="col-12 col-md-6 px-4">
            <!-- Title -->
            <h3 class="my-4 ml-2 text-uppercase">Product Management</h3>
            <!-- Extra Title -->
            <h4 class="my-4 ml-2 text-uppercase">Add Product</h4>
        </div>
    </div>
    <div class="row">
        <!-- Add Product Form -->
        <div class="col-12 col-md-8 px-4">
            <form method="POST" action="{% url 'add_product' %}" class="form mb-2 prod-mngmnt-form"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ prod_form | crispy }}
                <!-- back to product management-->
                <a class="btn col-12 col-sm-3 my-2" href="{% url 'product_management' %}"><span class="icon p-2">
                        <i class="fas fa-chevron-left" aria-hidden="true"></i>
                    </span>Cancel</a>
                <!-- add product -->
                <button class="btn col-12 col-sm-5 my-2" type="submit">Add Product<span class="icon p-2">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </span></button>
            </form>
        </div>
    </div>
</div>

{% endblock %}