{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container h-100 mb-5 prod-mngmnt-container">
    <div class="row">
        <div class="col-12 col-md-8 px-4">
            <!-- Title -->
            <h3 class="my-4 ml-2 text-uppercase">Product Management</h3>
            <!-- Extra Title -->
            <h4 class="my-4 ml-2 text-uppercase">Edit Collection</h4>
        </div>
    </div>
    <div class="row">
        <!-- Add Collection Form -->
        <div class="col-12 col-md-8 px-4">
            <form method="POST" action="{% url 'edit_collection' collection.id %}" class="form mb-2 prod-mngmnt-form">
                {% csrf_token %}
                {{ collection_form | crispy }}
                <div class="text-right">
                    <a class="btn col-12 col-sm-3 mb-2" href="{% url 'gallery' %}"><span class="icon p-2">
                            <i class="fas fa-chevron-left" aria-hidden="true"></i>
                        </span>Cancel</a>
                    <button class="btn col-12 col-sm-3 mb-2" type="submit">Update Collection<span class="icon p-2">
                            <i class="fas fa-plus" aria-hidden="true"></i>
                        </span></button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- footer -->
{% include 'includes/layout/footer.html' %}
{% endblock %}