{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container vh-100 mb-5">
  <div class="row no-gutters">
    <!-- Page header -->
    <div class="col-sm-12 px-4">
      <h3 class="my-4 ml-2">product management</h3>
    </div>
    <div class="col-sm-12">
      <p>Follow the user guide to help manage your products.</p>
    </div>
  </div>
  <!-- user guides -->
  <div class="row mt-4">
    <div class="col-sm-4 col-12">
      <!-- tab headers -->
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-images-list" data-toggle="list"
          href="#list-images" role="tab" aria-controls="images">artwork images</a>
        <a class="list-group-item list-group-item-action" id="list-folders-list" data-toggle="list" href="#list-folders"
          role="tab" aria-controls="folders">artwork images folder</a>
        <a class="list-group-item list-group-item-action" id="list-collections-list" data-toggle="list"
          href="#list-collections" role="tab" aria-controls="collections">collections</a>
        <a class="list-group-item list-group-item-action" id="list-products-list" data-toggle="list"
          href="#list-products" role="tab" aria-controls="products">products</a>
      </div>
    </div>
    <!-- user guide contents -->
    <div class="col-sm-8 col-12 pl-sm-0">
      <div class="tab-content mt-4 mt-sm-0" id="nav-tabContent">
        <!-- how to add images -->
        <div class="tab-pane fade show active" id="list-images" role="tabpanel" aria-labelledby="list-images-list">
          {% include 'products/prod-mngmnt/includes/manage-images-guide.html' %}
        </div>
        <!-- how to manage image folders -->
        <div class="tab-pane fade" id="list-folders" role="tabpanel" aria-labelledby="list-folders-list">
          {% include 'products/prod-mngmnt/includes/manage-folder-guide.html' %}</div>
        <!-- how to manage collections -->
        <div class="tab-pane fade" id="list-collections" role="tabpanel" aria-labelledby="list-collections-list">
          {% include 'products/prod-mngmnt/includes/manage-collections-guide.html' %}
        </div>
        <!-- how to manage products -->
        <div class="tab-pane fade" id="list-products" role="tabpanel" aria-labelledby="list-products-list">
          {% include 'products/prod-mngmnt/includes/manage-products-guide.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}