<table class="table table-sm">
    <tbody>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">Full Name</td>
            <td id="full-name-table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">Email</td>
            <td id="email-table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">Phone Number</td>
            <td id = "phone-number-table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">Street Address1</td>
            <td id = "street-address1-table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">Street Address2</td>
            <td id = "street-address2-table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">Town/City</td>
            <td id = "town-or-city-table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">County</td>
            <td id = "county-table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">Postcode</td>
            <td id = "postcode-table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">Country</td>
            <td id= "country-table"></td>
        </tr>
    </tbody>
</table>