{% extends "account/base.html" %}
{% load i18n %}

{% block inner_content %}
<!-- Header -->
<div class="col-sm-12 px-4">
    <h3>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>
</div>
<div class="col-md-6 px-4">
    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a
        <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
    {% if form %}
    <!-- PW change form -->
    <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn col-sm-12 my-2" type="submit" name="action">{% trans 'change password' %}<span
                class="icon p-2"><i class="fas fa-check"></i></span></button>
    </form>
    {% else %}
    <p>{% trans 'Your password is now changed.' %}</p>
    <!-- Button -->
    <a class="btn my-2 col-sm-12" href="/shop/">
        <span class="icon p-2"><i class="fa fa-chevron-left"></i></span>go shopping
    </a>
    {% endif %}
    <!-- Button -->
    <a class="btn my-2 col-sm-12" href="/shop/">
        <span class="icon p-2"><i class="fa fa-chevron-left"></i></span>go shopping
    </a>
    {% endif %}
</div>
{% endblock %}
