{% extends "account/base.html" %}
{% load i18n %}

{% block inner_content %}

<!-- Page title -->
<div class="col-sm-12 px-4">
  <h3 class="my-4 text-center text-sm-left">{% trans "Change Password" %}</h3>
</div>
<div class="col-md-6 px-4">
  <!-- Change form -->
  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form|crispy }}
    <!-- Action buttons -->
    <button type="submit" name="action" class="btn col-sm-12 mb-2">{% trans "Change Password" %}<span
        class="icon p-2"><i class="fas fa-check"></i></span></button>
    <a href="{% url 'account_reset_password' %}" class="btn col-sm-12 my-2">{% trans "Forgot Password" %}<span
        class="icon p-2"><i class="fas fa-times"></i></span></a>
    <a href="{% url 'profile' %}" class="btn col-sm-12 mt-2"><span class="icon p-2">
        <i class="fas fa-chevron-left" aria-hidden="true"></i>
      </span>go back</a>
  </form>
</div>
{% endblock %}
