{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}

<!-- Page title -->
<div class="col-sm-12 px-4">
  <h3 class="my-4 text-center text-sm-left">{% trans "Password Reset" %}</h3>
</div>
<div class="col-sm-12 px-4">
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>
    {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
  </p>
  <!-- PW reset form -->
  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn col-sm-12" type="submit" value="{% trans 'Reset My Password' %}" />
  </form>
  <a href="/accounts/password/change/" class="btn my-2 col-sm-12">
    go back
</a>

  <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock %}
