{% extends "account/base.html" %}
{% load i18n %}
{% load account %}

{% block inner_content %}

<!-- Page title -->
<div class="col-sm-12 px-4">
  <h3 class="my-4 text-center text-sm-left">{% trans "Password Reset" %}</h3>
</div>
<div class="col-sm-12 px-4">
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>
    {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
  </p>
</div>
<div class="col-md-6">
  <!-- PW reset form -->
  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form|crispy }}
    
      <a href="/accounts/password/change/" class="btn col-sm-12 my-2">
        <span class="icon p-2">
          <i class="fas fa-chevron-left" aria-hidden="true"></i>
        </span>go back </a>
      <button class="btn my-2 col-sm-12" type="submit">{% trans 'Reset My Password' %}<span class="icon p-2"><i
            class="fas fa-sync-alt"></i></span></button>
  </form>
</div>
<div class="col-sm-12 mt-4">
  <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock %}
