<header class="container-fluid header">
    <div class="row no-gutters">
        <!-- logo -->
        <div class="col">
            <a href="{% url 'home' %}" id="logo-a">
                <img src="{{ MEDIA_URL }}logo.png" id="header-logo" alt="logo">
            </a>
        </div>
        <!-- mobile nav -->
        {% include 'includes/layout/mobile-nav.html' %}
    </div>
    <hr class="d-lg-block d-none hr-style">
    <!-- main navigation -->
        {% include 'includes/layout/main-nav.html' %}
    <hr class="hr-style">
    </div>

</header>