<!-- home -->
<li class="nav-item">
    <a class="nav-link-header" href="{% url 'home' %}" id="home-link">
        Home
    </a>
</li>
<!-- gallery -->
<li class="nav-item">
    <a class="nav-link-header" href="{% url 'gallery' %}" id="">
        Gallery
    </a>
</li>
{% if not user.is_superuser %}
<!-- shop -->
<li class="nav-item">
    <a class="nav-link-header" href="{% url 'shop' %}" id="">
        Shop
    </a>
</li>
<!-- about -->
<li class="nav-item">
    <a class="nav-link-header" href="/#about-home" id="">
        About
    </a>
</li>
<!-- contact -->
<li class="nav-item">
    <a class="nav-link-header" href="/#contact-us-home" id="">
        Contact
    </a>
</li>
{% endif %}
{% if user.is_superuser %}
<!-- Superuser management options -->
<li class="nav-item dropdown">
    <a class="nav-link-header" role="button" id="managementDropdown" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Management
    </a>
    {% if user.is_authenticated %}
    <ul class="dropdown-menu-header dropdown-menu border-0" aria-labelledby="managementDropdown">
        <!-- manage product -->
        <li><a href="{% url 'product_management' %}" class="dropdown-item ">Products</a></li>
        <!-- manage social media icons -->
        <li><a href="{% url 'social_media' %}" class="dropdown-item ">Social Media</a></li>
        {% endif %}
    </ul>
    {% endif %}
    <!-- profile -->
<li class="nav-item  dropdown">
    <a class="nav-link-header" role="button" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Profile
    </a>
    <ul class="dropdown-menu-header dropdown-menu border-0" aria-labelledby="profileDropdown">
        {% if user.is_authenticated %}
        <!-- Account details option -->
        <li><a href="{% url 'profile' %}" class="dropdown-item ">Account</a></li>
        <!-- Logout -->
        <li><a href="{% url 'account_logout' %}" class="dropdown-item ">Logout</a></li>
        {% else %}
        <!-- login -->
        <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
        <!-- register -->
        <li><a href="{% url 'account_signup' %}" class="dropdown-item ">Register</a></li>
        {% endif %}

    </ul>
</li>
<li class="nav-item d-none d-lg-block">
    <a class="nav-link px-5 py-0" href="{% url 'view_bag' %}">
        <div class="text-center d-flex p-0">
            {% if grand_total %}
            <p class="m-0 align-self-middle"><i class="fas fa-shopping-bag px-2 py-1"></i></p>
            <p class="m-0 pb-2 align-self-middle" id="nav-total">{{ grand_total|floatformat:2 }}</p>
            {% endif %}
        </div>
    </a>
</li>