<!-- home -->
<li class="nav-item">
    <a class="nav-link-header" href="{% url 'home' %}" id="home-link">
        Home
    </a>
</li>
<!-- about -->
<li class="nav-item">
    <a class="nav-link-header" href="/#about-home" id="">
        About
    </a>
</li>
<!-- gallery -->
<li class="nav-item">
    <a class="nav-link-header" href="{% url 'gallery' %}" id="">
        Gallery
    </a>
</li>
<!-- shop -->
<li class="nav-item">
    <a class="nav-link-header" href="{% url 'shop' %}" id="">
        Shop
    </a>
</li>
<!-- contact -->
<li class="nav-item">
    <a class="nav-link-header" href="/#contact-us-home" id="">
        Contact
    </a>
</li>
<!-- profile -->
<li class="nav-item  dropdown">
    <a class="nav-link-header" role="button" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Profile
    </a>
    <ul class="dropdown-menu-header dropdown-menu border-0" aria-labelledby="profileDropdown">
        <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
        <li><a href="{% url 'account_signup' %}" class="dropdown-item ">Register</a></li>
        <li><a href="{% url 'profile' %}" class="dropdown-item ">Account</a></li>

    </ul>
</li>
<li class="nav-item d-none d-lg-block">
    <a class="nav-link px-5 py-0" href="{% url 'view_bag' %}">
        <div class="text-center d-flex p-0">
            {% if grand_total %}
            <p class="m-0 align-self-middle"><i class="fas fa-shopping-bag px-2 py-1"></i></p>
            <p class="m-0 pb-2 align-self-middle" id="nav-total">{{ grand_total|floatformat:2 }}</p>
            {% endif %}
        </div>
    </a>
</li>