{% extends "base.html" %}
{% load static %}

{% block content%}

<!-- 500 server error handler -->
<div class="container-fluid">
    <div class="row no-gutters text-center">
        <div class="col-sm-12">
            <h2 class="pt-4"> 500 internal server error</h2>
            <p class="my-0">Something went wrong...</p>
            <p class="my-0">Let's get you ouf of here.</p>
        </div>
        <div class="col-sm-12">
            <a href="{% url 'shop' %}" class="btn">
                <i class=""></i>go shopping
            </a>
        </div>
    </div>
</div>
{% endblock %}