{% extends "base.html" %}
{% load static %}

{% block content%}

<!-- 500 server error handler -->
<div class="container-fluid error-container">
    <div class="row no-gutters text-center">
        <div class="col-sm-12">
            <h2 class="pt-5">500 internal server error </h2>
            <p class="text-center">Something went wrong with our server...</p>
            <p class="text-center">Let's get you ouf of here.</p>
        </div>
        <div class="col-sm-12 mt-5">
            <a href="{% url 'shop' %}" class="btn">
                <i class=""></i>go shopping
            </a>
        </div>
    </div>
</div>
<!-- footer -->
{% include 'includes/layout/footer.html' %}
{% endblock %}