<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- core meta -->
        {% include 'includes/head/meta.html' %}
        <!-- extra meta -->
        {% block extra_meta %}
        {% endblock %}
        <!-- core css -->
        {% include 'includes/head/stylesheets.html' %}
        <!-- extra css -->
        {% block extra_css %}
        {% endblock %}
        <!-- onload JS-->
        {% block onloadjs %}
        {% endblock %}

        <title>Art.i.al</title>
    </head>

    <body>
        <!-- header -->
        {% include 'includes/layout/header.html' %}
        <!-- content -->
        {% block content %}
        {% endblock %}
        <!-- footer -->
        {% include 'includes/layout/footer.html' %}
        <!-- postload JS -->
        {% block postloadjs %}
        {% include 'includes/postload-scripts/scripts.html' %}
        {% endblock %}
        <!-- sweet alerts -->
        {% load sweetify %}
        {% sweetify %}

  </body>
</html>