<!DOCTYPE html>
<html lang="en">

    <head>
        {% include 'includes/head/meta.html' %}

        {% block extra_meta %}
        {% endblock %}

        {% include 'includes/head/stylesheets.html' %}

        {% block extra_css %}
        {% endblock %}

        {% include 'includes/head/scripts.html' %}

        {% block extra_js %}
        {% endblock %}

        <title>Art.i.al</title>
    </head>

    <body>

        {% include 'includes/layout/header.html' %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% include 'includes/layout/footer.html' %}

        {% block postloadjs %}
        <!-- CDN for sweet alerts -->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        {% endblock %}
        <!-- sweet alerts -->
        {% load sweetify %}
        {% sweetify %}

  </body>
</html>