{% load static %}


<!DOCTYPE html>
<html lang="en">

    <head>

        {% include 'includes/head.html' %}
        
        <!-- Scripts-->
        {% include 'includes/scripts.html' %}

    </head>

    <body>

        <header class="container-fluid fixed-top">
        </header>

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <footer class="container-fluid">
        </footer>

        {% block postloadjs %}
        {% endblock %}

    </body>

</html>