<table class="table">
  <!-- headers -->
  <thead>
    <tr class="text-center">
      <th scope="col">artwork name</th>
      <th scope="col">main image?</th>
      <th scope="col">room view?</th>
      <th scope="col">show in gallery?</th>
      <th scope="col">show in new?</th>
      <th scope="col"></th>
    </tr>
  </thead>
  {% for image in images %}
  <!-- body content -->
  <tbody>
    <tr class="text-center">
      <!-- name -->
      <td data-toggle="tooltip" data-placement="top" title="edit {{image.name}}"><a
          href="{% url 'edit_img' image.id %}">{{image.name}}</a> </td>
      <!-- main image: Y/N -->
      <td>{% if image.main_img %}
        <span aria-hidden="true" class="icon p-2"><i class="fas fa-check"></i></span>
        {% else %}
        <span aria-hidden="true" class="icon p-2"><i class="fas fa-times"></i></span>
        {% endif %}
      </td>
      <!-- room view: Y/N -->
      <td>
        {% if image.room_view %}
        <span aria-hidden="true" class="icon p-2"><i class="fas fa-check"></i></span>
        {% else %}
        <span aria-hidden="true" class="icon p-2"><i class="fas fa-times"></i></span>
        {% endif %}
      </td>
      <!-- show in gallery: Y/N -->
      <td>
        {% if image.show_in_gallery %}
        <span aria-hidden="true" class="icon p-2"><i class="fas fa-check"></i></span>
        {% else %}
        <span aria-hidden="true" class="icon p-2"><i class="fas fa-times"></i></span>
        {% endif %}
      </td>
      <!-- show in new: Y/N -->
      <td>
        {% if image.show_in_new %}
        <span aria-hidden="true" class="icon p-2"><i class="fas fa-check"></i></span>
        {% else %}
        <span aria-hidden="true" class="icon p-2"><i class="fas fa-times"></i></span>
        {% endif %}
      </td>
      <!-- Delete image button-->
      <td>{% include 'products/prod-mngmnt/includes/delete-img-button.html' %} </td>
    </tr>
  </tbody>
  {% endfor %}
</table>