<!-- go to add image -->
<a class="btn" href="{% url 'add_product' %}">add product<span class="icon p-2">
    <i class="fas fa-plus" aria-hidden="true"></i>
</span></a>
<!-- go to view all images -->
<a class="btn" href="{% url 'gallery' %}">gallery<span class="icon p-2">
    <i class="fas fa-chevron-right" aria-hidden="true"></i>
</span></a>
<!-- title -->
<h4 class="py-4">user guide:</h4>
<!-- instructions -->
<ul class="pl-0">
<!-- step 1 -->
<li><span class="icon p-2">
        <i class="fas fa-hand-point-right" aria-hidden="true"></i>
    </span>Go to <a
    href="{% url 'add_product' %}">add</a> product and complete the form.
</li>