#checkout-container,
#checkout-success-container {
    min-height: 75vh;
}

#nav-tab {
    margin-bottom: 1rem;
}

#nav-tab .nav-link{
    color: var(--white);
    margin: 0;
    padding: .75rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 1.2rem;
}

#nav-tab .nav-link:hover,
#nav-tab .nav-link.active:hover {
    background-color: var(--hunter-green);
}

#nav-tab .nav-link.active:hover {
    color: var(--white);
    font-weight: normal;
}
#nav-tab .nav-link.active {
    background-color: var(--almond);
    color: var(--dark-lava);
    font-weight: bold;
}
.nav-tabs, 
.nav-link,
.nav-tabs:hover, 
.nav-link:hover,
.nav-tabs:focus, 
.nav-link:focus {
    border: none!important;
}

.checkout-nav-item {
    margin: 0 .3rem .3rem 0;
    background-color: var(--dark-lava);
}

#nav-tabContent input {
    border-radius: 0;
    border-color: var(--dark-lava);
    font-size: 1.2rem;
}

.checkout-btn {
    font-size: 1.4rem;
    margin: 2rem .25rem;
    color: var(--white);
    background-color: var(--dark-lava);
    box-shadow: var(--dark-small-box-shadow);
}

.checkout-btn:hover {
    background-color: var(--hunter-green);
}

/* payment table */
.table {
    color: var(--black-chocolate);
}
.table-sm td, .table td,
.table-sm th, .table th {
    border-top: 2px solid var(--almond);
}


/* stripe element */
/* .StripeElement, */
.stripe-style-input {
    box-sizing: border-box;
    height: 4rem;
    padding: 1rem 1.2rem;
    border: 1px solid var(--dark-lava);
    border-radius: 0px;
    background-color: var(--white);
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: var(--dark-lava);
    border: 1px solid var(--dark-lava)!important;
}

.form-control {
    color: var(--dark-lava);
}

.form-control:focus {
    box-shadow: var(--dark-small-box-shadow);
    border-color: var(--dark-lava);
}
select,
select option {
    color: var(--dark-lava);
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

#card-errors, #charge-note {
    color: #700a15;
}

/* checkout-success */
.order-confirmation-wrapper {
    border: 1px solid var(--black-chocolate);
    background-color: var(--almond);
    color: var(--black-chocolate);
    margin: 3rem 0;
    padding: 2rem;
    font-size: 1.6rem;
    box-shadow: var(--dark-small-box-shadow);
}

/* spinner */
#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--tuscany);
    opacity: .6;
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

@media (min-width: 992px) {
    #checkout-form-border {
        border-right: 2px solid var(--black-chocolate);
    }
    
}