<div class="row no-gutters" id="about-home">
    <div class="col-12 px-4">
        <h1 class="my-4 ml-2">About</h1>
    </div>
    <div class="col-12 col-sm-9 p-4">
        <h2>Tagline about the site</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu. Blandit volutpat maecenas
            volutpat blandit aliquam etiam erat. 
        </p>
        <p>Vitae tortor condimentum lacinia quis vel. Sed vulputate mi sit amet
            mauris commodo quis. Dui sapien eget mi proin sed libero enim sed faucibus. In hac habitasse platea dictumst
            vestibulum rhoncus est pellentesque elit. Eleifend donec pretium vulputate sapien nec sagittis aliquam. Cras
            tincidunt lobortis feugiat vivamus at. Id diam vel quam elementum. A erat nam at lectus urna duis convallis.
            Tellus at urna condimentum mattis.
        </p>
        <p>
            Tincidunt praesent semper feugiat nibh sed pulvinar. Odio tempor
            orci
            dapibus ultrices in. Ultricies integer quis auctor elit sed vulputate mi sit amet. Quisque egestas diam in
            arcu cursus euismod quis viverra nibh. Amet aliquam id diam maecenas ultricies mi eget mauris pharetra.
            Laoreet sit amet cursus sit. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Dolor sed
            viverra ipsum nunc aliquet bibendum enim.
        </p>
    </div>
</div>