#bag-container {
    min-height: 75vh;
}

.bag-image {
    border: solid 1px var(--black-chocolate)
}

.checkout-btn,
.return-btn {
    margin: 3rem 0;
}

.btn-secure-checkout {
    background-color: var(--hunter-green);
}

.btn-secure-checkout:hover {
    background-color: var(--white);
    color: var(--hunter-green);
}

.fa-trash {
    color: var(--plum);
}
