{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}" type="text/css">
{% endblock %}

{% block extra_header %}
{% if not product.is_sold %}
{% include 'products/includes/free-delivery.html' %}
{% endif %}
{% endblock %}

{% block content %}
<!-- Product detail -->
<div class="container my-5" id="product-detail-container">
    <div class="card" id="product-detail-card">
        <div class="row">
            <!-- Collection name-->
            <div class="col-sm-12 px-4">
                <h4 class="my-4 ml-2 text-uppercase">collection: {{ product.collection_name.friendly_name}}</h4>
            </div>
            <!-- Product image-->
            <div class="col-sm-12 col-md-6 my-4 align-self-center">
                <!-- Image set as main in DB -->
                {% for img in product.images_folder.imgs.all %}
                {% if img.main_img %}
                <a href="{% if img.url %}{{ img.url }}{% endif %}" target="_blank"
                    title="enlarge image" aria-label="enlarge image">
                    <img class="card-img-top img-fluid"
                        src="{% if img.url %}{{ img.url }}{% else %}{{ MEDIA_URL }}noimage.png{% endif %}"
                        alt="{{ img.name }}">
                </a>
                {% endif %}
                {% endfor %}
            </div>
            <!-- Other product details-->
            <div class="col-sm-12 col-md-6">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 p-0 mt-sm-6 my-4" id="product-detail-content">
                            <div class="container">
                                <div class="row">
                                    {% if product.tag %}
                                    <!-- Tag - New -->
                                    <div class="col-4 artwork-tag tag-{{product.tag.friendly_name.lower}} mr-3">
                                        {{product.tag.friendly_name}}
                                    </div>
                                    {% endif %}
                                    {% if product.is_sold %}
                                    <!-- Sold -->
                                    <div class="col-4 artwork-tag tag-sold">
                                        sold
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Product name -->
                            <h3 class="py-3">{{ product.friendly_name }}</h3>
                            <div class="hr-style m-0"></div>
                            <!-- Product description-->
                            <p class="pt-2">{{ product.description }}</p>
                            <!-- Product dimensions-->
                            <p class="pt-2">Dimensions: {{ product.dimensions }}</p>
                            <!-- If tag is other than "sold" price is displayed -->
                            {% if not product.is_sold %}
                            <h5 class="pt-2 pb-2">&euro; {{ product.price }}</h5>
                            {%endif%}
                            <div class="hr-style m-0"></div>
                            <!-- Room view button; triggers modal-->
                            <a class="" aria-label="room view" id="room-view" data-toggle="modal"
                                data-target="#roomViewModal">
                                <p class="mt-1" data-toggle="tooltip" data-placement="left" title="room view"><i
                                        class="fas fa-eye"></i>room view</p>
                            </a>
                            <!-- Room view modal -->
                            {% include 'products/includes/room-view-modal.html' %}
                        </div>
                    </div>
                    <!-- Buttons -->
                    <div class="row">
                        <div class="col-sm-12 text-center text-sm-left p-0">
                            {% if not product.is_sold and not request.user.is_superuser %}
                            <!-- Checks if item is not sold; if not then allows to add the product to the shopping bag -->
                            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-sm-12">
                                        <!-- Back to shop button -->
                                        <a class="btn col-12 col-sm-3 my-3" href="{% url 'shop' %}"><span
                                                class="icon p-2">
                                                <i class="fas fa-chevron-left" aria-hidden="true"></i>
                                            </span>shop</a>
                                        {% if show_add_btn %}
                                        <!-- If product is not in the bag, show add btn -->
                                        <button class="btn col-12 col-sm-4 my-3" type="submit">Add to bag<span
                                                class="icon p-2">
                                                <i class="fas fa-plus" aria-hidden="true"></i>
                                            </span></button>
                                        {% else %}
                                        <!-- If product is in the bag show view bag -->
                                        <a class="btn col-12 col-sm-4 my-3" href="{% url 'view_bag' %}">view bag<span
                                                class="icon p-2">
                                                <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                            </span></a>
                                        {% endif %}
                                    </div>
                                    <!-- By default, redirects to the same item -->
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                            </form>
                            {% elif product.is_sold and not request.user.is_superuser %}
                            <!-- If item is sold,  contact us button on display and redirects to contact -->
                            <div class="col-sm-12 p-0">
                                <!-- Back to gallery button -->
                                <a class="btn my-3" href="{% url 'gallery' %}"><span class="icon p-2">
                                        <i class="fas fa-chevron-left" aria-hidden="true"></i>
                                    </span>Back to gallery</a>
                                <!-- enquire button -->
                                <a class="btn my-3" href="/#contact-us-home" title="contact us"
                                    aria-label="enquire">enquire
                                    <span class="icon p-2">
                                        <i class="fas fa-envelope" aria-hidden="true"></i>
                                    </span></a>
                            </div>
                            {% elif request.user.is_superuser %}
                            <!-- Product management -->
                            <div class="col-sm-12 p-0">
                                <!-- Edit product button-->
                                <a class="btn my-2 col-sm-12" href="{% url 'edit_product' product.id %}">edit<span
                                        class="icon p-2">
                                        <i class="far fa-edit" aria-hidden="true"></i>
                                    </span></a>
                                <!-- Delete product button-->
                                {% include 'products/prod-mngmnt/includes/delete-product-button.html' %}
                                <!-- Back to gallery button -->
                                <a class="btn my-2 col-sm-12" href="{% url 'gallery' %}"><span class="icon p-2">
                                        <i class="fas fa-chevron-left" aria-hidden="true"></i>
                                    </span>Back to gallery</a>
                            </div>
                            <!-- delete product modal -->
                            {% include 'products/prod-mngmnt/includes/delete-product-modal.html' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
{% include 'includes/layout/footer.html' %}

{% endblock %}