{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container vh-100 mb-5">
    <div class="row no-gutters">
        <!-- Page header -->
        <div class="col-sm-12 px-4">
            <h3 class="my-4 ml-2">Product Management</h3>
        </div>
        
    </div>
    <div class="row no-gutters">
        <div class="col-sm-12 px-4">
            <p>Please see options below for product management</p>
        </div>
        
    </div>
</div>
{% endblock %}