{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}" type="text/css">
{% endblock %}

{% block content %}

<div class="container mb-5" id="product-detail-container">
    <div class="card" id="product-detail-card">
        <div class="row h-100 no-gutters">
            <div class="col-12 px-4">
                <!-- checks for the product name in the database to include in the title-->
                <h3 class="my-4 ml-2 text-uppercase">{{ product.name }} details</h3>
            </div>
            <div class="col-12 col-md-6 my-4 align-self-center">
                <!-- checks for images in the product images folder-->
                {% for img in product.images_folder.imgs.all %}
                <!-- if one of the images is set to be as main, it's then displayed-->
                {% if img.main_img %}
                <a href="{{ img.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ img.url }}" alt="{{ img.name }}">
                </a>
                <!-- if no image available it displays default image -->
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="no image">
                </a>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-12 col-md-6">
                <div class="container">
                    <div class="row align-items-start h-75">
                        <div class="col p-0 mt-sm-6" id="product-detail-content">
                            <!-- checks for assigned tag -->
                            <h4 class="artwork-tag tag-{{product.tag.friendly_name.lower}} my-4">
                                {{product.tag.friendly_name}}</h4>
                            <!-- checks for product name and assigns -->
                            <h2 class="artwork-title">{{ product.name }}</h2>
                            <hr>
                            <!-- checks for product description-->
                            <p>{{ product.description }}</p>
                            <!-- product dimensions-->
                            <p class="pt-4">Dimensions: {{ product.dimensions }}</p>
                            <!-- if products is not sold then price is displayed-->
                            {% if not product.tag.name == 'sold' %}
                            <h5 class="pt-4">&euro; {{ product.price }}</h5>
                            {%endif%}
                            <hr>
                            <!-- room view button; triggers modal-->
                            <a class="px-3" href="" title="room view" aria-label="room view" id="room-view"
                                data-bs-toggle="modal" data-bs-target="#roomViewModal">
                                <h5>room view<i class="fas fa-eye"></i></h5>
                            </a>
                            <!-- room view modal -->
                            {% include 'products/includes/room-view-modal.html' %}
                        </div>
                    </div>
                    <div class="row align-items-end">
                        <div class="col p-0">
                            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col p-0">
                                        <!-- checks if item is not sold; if not then allows to add the product to the shopping bag -->
                                        {% if not product.tag.name == 'sold' %}
                                        <a class="btn px-3" href="{% url 'shop' %}">Keep Shopping</a>
                                        <input type="submit" class="btn px-3" value="Add to Bag">
                                        {% endif %}
                                    </div>
                                    <!-- by default, redirects to the same item -->
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                            </form>
                            <!-- if item is sold,  contact us button on display and redirects to contact -->
                            {% if product.tag.name == 'sold' %}
                            <a class="btn px-3" href="/#contact-us-home" title="contact us"
                                aria-label="enquire">enquire<i class="fas fa-envelope p-2"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
