{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}" type="text/css">
{% endblock %}

<!-- Free delivery banner -->
{% block extra_header %}
<div class="container-fluid">
    <div class="row no-gutters text-center" id="free-delivery-banner">
        <div class="col-sm-12 my-1" id="free-delivery-banner">
            <h5 class="py-2 mb-0">Free delivery on orders over &euro;{{ free_delivery_threshold }}!</h5>
        </div>
    </div>
    <div class="hr-style"></div>
</div>
{% endblock %}

{% block content %}
<!-- Product detail -->
<div class="container my-5" id="product-detail-container">
    <div class="card" id="product-detail-card">
        <div class="row">
            <!-- Collection name-->
            <div class="col-sm-12 px-4">
                <h4 class="my-4 ml-2 text-uppercase">collection: {{ product.collection_name.friendly_name}}</h4>
            </div>
            <!-- Product image-->
            <div class="col-sm-12 col-md-6 my-4 align-self-center">
                {% for img in product.images_folder.imgs.all %}
                <!-- Image set as main in DB -->
                {% if img.main_img %}
                <a href="{% if img.url %}{{ img.url }}{% else %}{{ MEDIA_URL }}noimage.png{% endif %}" target="_blank">
                    <img class="card-img-top img-fluid"
                        src="{% if img.url %}{{ img.url }}{% else %}{{ MEDIA_URL }}noimage.png{% endif %}"
                        alt="{{ img.name }}">
                </a>
                {% endif %}
                {% endfor %}
            </div>
            <!-- Other product details-->
            <div class="col-sm-12 col-md-6">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 p-0 mt-sm-6" id="product-detail-content">
                            <!-- Tag -->
                            <p class="artwork-tag tag-{{product.tag.friendly_name.lower}} my-4">
                                {{product.tag.friendly_name}}</p>
                            <!-- Product name -->
                            <h3 class="py-3">{{ product.name }}</h3>
                            <div class="hr-style"></div>
                            <!-- Product description-->
                            <p class="pt-2">{{ product.description }}</p>
                            <!-- Product dimensions-->
                            <p class="pt-2">Dimensions: {{ product.dimensions }}</p>
                            <!-- If tag is other than "sold" price is displayed -->
                            {% if not product.tag.name == 'sold' %}
                            <h5 class="pt-2 pb-2">&euro; {{ product.price }}</h5>
                            {%endif%}
                            <div class="hr-style"></div>
                            <!-- Room view button; triggers modal-->
                            <a class="" href="" aria-label="room view" id="room-view" data-toggle="modal"
                                data-target="#roomViewModal">
                                <p class="mt-1" data-toggle="tooltip" data-placement="left" title="room view"><i
                                        class="fas fa-eye"></i>room view</p>
                            </a>
                            <!-- Room view modal -->
                            {% include 'products/includes/room-view-modal.html' %}
                        </div>
                    </div>
                    <!-- Buttons -->
                    <div class="row">
                        <div class="col-sm-12 text-center text-sm-left p-0">
                            <!-- Checks if item is not sold; if not then allows to add the product to the shopping bag -->
                            {% if not product.tag.name == 'sold' %}
                            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-sm-12 p-0">
                                        <!-- Back to shop button -->
                                        <a class="btn my-3" href="{% url 'shop' %}"><span class="icon p-2">
                                                <i class="fas fa-chevron-left" aria-hidden="true"></i>
                                            </span>Keep Shopping</a>
                                        <!-- Add to bag button-->
                                        <button class="btn my-3" type="submit">Add to bag<span class="icon p-2">
                                                <i class="fas fa-plus" aria-hidden="true"></i>
                                            </span></button>
                                    </div>
                                    <!-- By default, redirects to the same item -->
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                            </form>
                            {% endif %}
                            <!-- If item is sold,  contact us button on display and redirects to contact -->
                            {% if product.tag.name == 'sold' %}
                            <div class="col-sm-12 p-0">
                                <a class="btn my-3" href="/#contact-us-home" title="contact us"
                                    aria-label="enquire">enquire
                                    <span class="icon pl-1">
                                        <i class="fas fa-envelope p-2" aria-hidden="true"></i>
                                    </span></a>
                            </div>
                            {% endif %}
                            {% if request.user.is_superuser %}
                            <!-- Product management -->
                            <div class="col-sm-12 p-0">
                                <!-- Edit product button-->
                                <a class="btn my-3" href="{% url 'edit_product' product.name %}">Edit Product<span
                                        class="icon p-2">
                                        <i class="far fa-edit" aria-hidden="true"></i>
                                    </span></a>
                                <!-- Delete product button-->
                                <a class="btn my-3 delete-btn" href="{% url 'delete_product' product.name %}">Delete
                                    Product<span class="icon p-2">
                                        <i class="fas fa-trash" aria-hidden="true"></i>
                                    </span></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
