{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}" type="text/css">
{% endblock %}

{% block extra_header %}
{% include 'products/includes/free-delivery.html' %}
{% endblock %}

{% block content %}

<div class="container mb-5 prod-mngmnt-container">
    <div class="row no-gutters">
        <!-- Page header -->
        <div class="col-sm-12 px-4">
            <h3 class="my-4 ml-2">Shop</h3>
        </div>
    </div>
    <div class="row no-gutters align-items-center">

        {% for product in products %}
        {% if not product.is_sold %}
        {% include 'products/includes/products.html' %}
        {% endif %}
        {% endfor %}
    </div>
</div>
<!-- footer -->
{% include 'includes/layout/footer.html' %}
{% endblock %}