{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}" type="text/css">
{% endblock %}

{% block content %}

<div class="container h-100 mb-5">
    <div class="container h-100 mb-5">
        <div class="row no-gutters">
            <div class="col-12 px-4">
                <h1 class="my-4 ml-2">Shop</h1>
            </div>
            {% for product in products %}
            {% if not product.tag.name == 'sold' %}
            {% include 'products/includes/products.html' %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}