{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}" type="text/css">
{% endblock %}

<!-- Free delivery banner -->
{% block extra_header %}
<div class="container-fluid">
    <div class="row no-gutters text-center" id="free-delivery-banner">
        <div class="col-sm-12 my-1" id="free-delivery-banner">
            <h5 class="py-2 mb-0">Free delivery on orders over &euro;{{ free_delivery_threshold }}!</h5>
        </div>
    </div>
    <div class="hr-style"></div>
</div>
{% endblock %}

{% block content %}

<div class="container {% if not product in products %}vh-100{%else%}h-100{%endif%} mb-5">
    <div class="row no-gutters">
        <!-- Page header -->
        <div class="col-sm-12 px-4">
            <h3 class="my-4 ml-2">Shop</h3>
        </div>
    </div>
    <div class="row no-gutters align-items-center">

        {% for product in products %}
        {% if not product.is_sold %}
        {% include 'products/includes/products.html' %}
        {% endif %}
        {% endfor %}

        {% if not product in products %}
        <div class="col-sm-12 px-4">
            <h4 class="my-4">Looks like we are out of stock.</h4>
            <p>Check again soon or contact us for enquiries.</p>
        </div>
        <div class="col-sm-12 px-4">
            <!-- enquire button -->
            <a class="btn my-3" href="/#contact-us-home" title="contact us" aria-label="enquire">enquire
                <span class="icon p-2">
                    <i class="fas fa-envelope" aria-hidden="true"></i>
                </span></a>
        </div>
        {% endif %}
        
    </div>
</div>
<!-- footer -->
{% include 'includes/layout/footer.html' %}
{% endblock %}